---
---

@import "minimal-light";
/* Navigation Menu Styling */

.top-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  gap: 30px;
}

.top-nav li {
  display: inline;
}

.top-nav a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #444;
}

.top-nav a:hover {
  color: #4a90e2;
}
