---
---

@import "minimal-light";
/* Navigation Menu Styling */

.top-nav {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;          /* space between nav and content */
  padding-bottom: 10px;         /* space between links and line */
  border-bottom: 2px solid #e0dcd5; /* horizontal line */
}

.top-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  gap: 115px;
}

.top-nav li {
  display: inline;
}

.top-nav a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #c9b9ab;
}

.top-nav a:hover {
  color: #4a90e2;
}
